html{
    font-size: 100%;
}

body{
    position: relative;
    margin: 0;
    padding: 0;
    font-family: Arial Regular;
    font-size: 0.95rem;
    background-color: #f6f6f6;
}

/* body.overlay:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 100;
} */

p,h1,h2,h3{
    margin: 0;
    padding: 0;
}

p{
    font-size: 0.95rem;
}

h1,h2,h3,span{
    font-family: Georgia Regular;
}

h2,h3{
    font-size: 2.2rem;
    line-height: 45px;
}

button{
    margin: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
}

.head_btn,
.know_rest_btn{
    font-size: 1.05rem;
    font-family: Georgia Regular;
}

a{
    color:#000000;
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}
.wrapper {
    padding: 10px 2%;
    max-width: 1170px;
    margin: 0 auto;
}

.head{
    width: 100%;
    background-color: #fafafa;
    margin-bottom: 70px;
}

.head_top {
	display: flex;
    margin-top: 20px;
    /* margin-bottom: 21.4%; */
    align-items: center;
    flex-wrap: wrap;
    color: #545454;
}

.logo{
    flex: 1;
    white-space: nowrap;
    margin-right: 20px;
}

.logo span{
    font-size:2rem;
    letter-spacing: 0.06em;
}

.logo a p{
    margin-top: 5px;
}

.menu_list{
    display: flex;
    width: auto;
    list-style: none;
    margin: 0;
    margin-top: 15px;
    padding: 0;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu_list li{
    margin-bottom: 3%;
    margin-right: 10px;
}

.menu_list li a{
    position: relative;
    white-space: nowrap;
}

.menu_list li a:before{
    content: "";
    position: absolute;
    top: calc(100% + 0.475rem);
    border-bottom: 0.125rem solid #f1cdb3;
    left: 50%;
    right: 50%;
    transition: all 0.5s ease;
}

.menu_list li a:hover:before{
    left:0;
    right: 0;
    transition: all 0.5s ease;
}

main.wrapper{
    padding:0 2%;
}

.pets_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 65px;
}

.pets_header{
    display: inline-block;
    width: 36.7%;
    margin-bottom:6.6%;
    text-align: center;
}

.pets_items_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/* .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
} */

.pet_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 23%; */
    margin-bottom: 35px;
    background-color: #fafafa;
    border-radius: 10px;
    transition: box-shadow 0.2s;
}

.pet_item:not(:nth-child(4n)){
    margin-right: 2%;
}

.pet_item .img_container img{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.pet_item p{
    font-family: Georgia Regular;
	font-size: 1.25rem;
    line-height: 45px;
}

.pet_item .btn {
	padding: 6% 16.3%;
    border-radius: 24px;;
    background-color: #fafafa;
    border: 2px solid #f1cdb3;
    outline: none;
    /* margin: 0 14%;  */
    margin-bottom: 20px;
    font-family: Georgia Regular;
    font-size: 1.05rem;
    letter-spacing: 0.06em;
    text-align: center;
    transition: background-color 0.3s;
}

.pagination_container{
    display: flex;
    align-items: center;
    margin-top:27px;
    font-size: 1.25rem;
    box-sizing: border-box;
}

.pagination_container a{
    font-family: Times New Roman;
    /* padding: 11.5px 18px; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 46px;
    border: 2px solid #f1cdb3;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.pagination_container a:not(:last-of-type){
    margin-right: 4.3%;
}

.pagination_container span{
    margin-right: 12px;
    color:#f1cdb3;
    
}

.foot{
    background: url(../img//foot/footer_bg.jpg) no-repeat center center;
    background-size: cover;
}

.foot .wrapper {
	padding-top: 0;
}

.footer_container {
	display: flex;
    width: 100%;
    /* width: 65.81%; */
    justify-content: flex-start;
    padding-top: 6.8%;
    padding-bottom: 6.8%;
    color: #f1cdb3;
}

.foot_item h3{
	color: #ffffff;
    letter-spacing: 0.06em;
    white-space: nowrap;
}

.foot_item p{
    font-family: Times New Roman Regular;
    font-size: 1.25rem;
    margin-left: 20%;
    margin-top: 10%;
}
.foot_item p{
	position: relative;
}
.foot_item .phone{
    margin-top:50px;
}
.foot_item .email:before{
	content: "";
    position: absolute;
    background-image: url(../img/foot/envelope.png);
    width: 40px;
    height: 26px;
    left: -25%;
}
.foot_item .phone:before{
	content: "";
    position: absolute;
    background-image: url(../img/foot/telephone.png);
    width: 40px;
    height: 32px;
    top: -10%;
    left: -25%;
}
.footer_adress p{
	margin-top: 32px;
}
.footer_adress p:before{
	content: "";
    position: absolute;
    background-image: url(../img/foot/pin.png);
    width: 26px;
    height: 36px;
    left: -25%;
}

.foot_item{
    width: 25.6%;
}

.footer_contacts {
    /* margin-bottom: 70px; */
    margin-right: 12.4%;
}

/****************************hovers,actives and etc*************************/
.pet_item .btn:hover{
    background-color: #f1cdb3;
}

.pet_item:hover{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}

.pagination_container a:hover{
    background-color: #f1cdb3;
}

/***************************media queries*********************************/
@media screen and (max-width:1136px){
    .foot{
        background-position-x: 65%;
    }
}

@media screen and (max-width:1194px){
    .pet_item{
        margin-right: 2%
    }
}
@media screen and (max-width:768px){
    .foot{
        background-image: none;
        background: linear-gradient(to right, #483b34, #18181a);
    }

    .footer_container{
        justify-content: space-around;
    }

    .foot_item{
        width: 50%;
    }

    .foot_item h3{
        white-space: normal;
    }

    .footer_contacts{
        margin-right: 10px;
    }
}

@media screen and (max-width:630px){
    .head_top{
        flex-direction: column;
        align-items: center;
    }

    .logo{
        width: auto;
        text-align: center
    }

    .pets_header{
        width:60%;
    }
}

@media screen and (max-width:500px){
    .footer_container{
        flex-direction: column;
    }
    
    .foot_item{
        display: flex;
        flex-direction: column;
        width: auto;
        align-items: flex-start;
        margin-bottom: 50px;
        margin-left: 30px;
    }

    .foot_item p{
        margin-left: 40px;
    }

    .footer_adress p:before{
        left: -40px;
    }

    .foot_item .email:before{
        left: -50px;
    }
    .foot_item .phone:before{
        left: -50px;
    }

    .footer_contacts p{
        margin-left: 50px;
    }
}

@media screen and (max-width:420px){
    .menu_list{
        align-items: center;
        justify-content: center;
    }
}